@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;  
}

img {
  max-width: 100%;
}

body {
  margin: 0;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik";
  color:rgb(177, 172, 172);
  font-weight: 400;  
}

h1 {
color: hsl(229, 31%, 21%);
font-size: 1.5rem;
}

h3 {
  color: hsl(229, 31%, 21%);
}

button {
  font-size: 0.5rem;
}

.nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* background-color: aqua; */
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.bookmark {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  padding-left: 70px;
}

.bookmark-icon {
  height: 40px;
  width: 40px;
  background-image: url("./images/logo-bookmark.svg");
  background-repeat: no-repeat;
}

.nav-bar-items {
  display: flex;
  justify-self: center;
  align-self: flex-end;
}

.nav-bar  
button {
  margin: 0px 10px;
  background-color: white;
  border: none;
  padding: 10px;  
  font-weight: 400;
  justify-self: flex-end;
}


.nav-bar  
button:hover {
  background-color:hsl(0, 94%, 66%);
  border-radius: 5px;
  color: white;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
  position: relative;
  min-height: 550px;
  /* background-color: grey; */
}

.hero-description {
  padding: 80px;  
}

.hero-description 
h1 {
  font-family: "Rubik";
  font-size: 46px;
}

.hero-description 
p {  
  padding: 20px 0px;
}

.hero-image {
  background-image: url(./images/illustration-hero.svg);
  height: 100%; 
  background-repeat: no-repeat;      
  /* position: absolute; */  
}

.background-shape {  
  background-color: hsl(231, 69%, 60%);
  width: 460px;
  height: 320px;
  justify-self: flex-end;
  border-radius: 120px 0px 0px 120px;
  position: absolute;
  z-index: -1;
  align-self: flex-end;  
  margin-bottom: 40px;
}

button {  
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  background-color: hsl(231, 69%, 60%);
}

.features-tabs {
  padding: 50px 0px;  
}

.features 
.features-description p, 
.features-description h1 {
  display: flex;
  justify-content: center;
  align-self: center;  
}

.features-description p {
  padding: 20px 400px 0px 400px;
  text-align: center;
}

.features-tabs-bar {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.tab-one, 
.tab-two,
.tab-three {
  box-sizing: border-box;
  border-radius: 0px;
  background-color: white;
  border: none;
  padding: 20px 40px;
  font-family: "Rubik";
  font-size: 0.8rem;
  font-weight: 400;    
  color: rgb(124, 118, 118);
}

.simple-bookmarking, 
.speedy-searching,
.easy-sharing {
  display: none;  
  position: relative;
  padding-left: 100px;
  padding-top: 50px;
}

.features-shape {
  display: flex;
  background-color: hsl(231, 69%, 60%);
  width: 575px;
  height: 350px;
  justify-self: flex-start;
  align-self: flex-end;
  border-radius: 0px 120px 120px 0px;
  position: absolute;
  z-index: -1;
  left: 0px;
  bottom: 20px;
}

.features-tab-1-image,
.features-tab-2-image,
.features-tab-3-image {
  align-self: flex-end;  
  justify-self: flex-end;  
  height: 450px; 
  width: 550px;
  background-repeat: no-repeat;
  margin-left: 100px;   
}

.features-tab-1-image{
background-image: url("./images/illustration-features-tab-1.svg");  
}

.features-tab-2-image{
  background-image: url("./images/illustration-features-tab-2.svg");  
}

.features-tab-3-image{
background-image: url("./images/illustration-features-tab-3.svg");  
}


.current-tab,
.current-tab,
.current-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.description-tab-1, 
.description-tab-2, 
.description-tab-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.current-tab p {
  padding: 25px 200px 25px 0px;
} 

.active-tab {
  box-sizing: border-box;
  border-bottom: 3px solid hsl(0, 94%, 66%);
  color: #333;
  font-weight: 500;
}

.extensions, 
.extensions-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.extensions-description
.logos {
  display: grid;
  min-height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.chrome-logo-card, 
.firefox-logo-card,
.opera-logo-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;  
}

.chrome-logo-card, 
.firefox-logo-card,
.opera-logo-card {
  box-shadow: inset 0px 0px 5px -2px #aaa, 5px 5px 5px 3px #eee;
  border-radius: 5px;
}

.chrome-logo, 
.firefox-logo,
.opera-logo {
  display: flex;  
  background-repeat: no-repeat;
  height: 100px;
  width: 110px;
  padding: 70px;
  justify-content: center;
  align-items: center;  
}

.chrome-logo {
  background-image: url("./images/logo-chrome.svg");
}

.firefox-logo {
  background-image: url("./images/logo-firefox.svg");
}

.opera-logo {
  background-image: url("./images/logo-opera.svg");
}
 
.logos p {
  font-size: 0.8rem;
}

.faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 60px 0px;
}

.faqs h1,
.faqs p,
.faqs button  {
  display: flex;
  justify-content: center;
  align-content: center;
}

.faqs-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.faqs-description p {
  display: flex;
  justify-self: center;
  padding: 20px 0px 40px 0px;  
  width: 600px;
}

.questions {
  margin-bottom: 40px;
}

.faqs .questions p {
  display: flex;
  justify-content: flex-start;
  width: 600px;
  padding: 20px 0px;
  border-top: 1px solid rgb(201, 197, 197);
  border-bottom: 1px solid rgb(201, 197, 197);
  margin:-1px 0px -1px 0px;
  color: hsl(229, 31%, 21%);
  font-weight: 400;
}

.question p {
  display: flex;
  position: relative;
}

.arrow {
  background-image: url("./images/icon-arrow.svg");
  background-repeat: no-repeat;
  margin-top: 10px;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(231, 69%, 60%);
  height: 300px;
  position: relative;
}

.footer-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-cta h1 {
  color: white;
  font-weight: 400;
  padding: 30px;
}

.footer input {
  margin: 10px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  width: 200px;
  font-size: 8px;
}

.footer button {
  position: absolute;
  right: 450px;
  bottom: 79px;
}